
* {
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
.header-wrap {
	background-color: rgb(6, 49, 134);
}
.header__headline {
	font-size: 	16px;
}	
li {
	list-style: none;
}
#top{
	font-size: 15px;
}
img{
	margin: 5px 0;
}
header,
.link-list,
nav,
form,
footer {
	background-color: rgb(10, 120, 230);
	font-size: 16px;
}
form h3{
	font-size: 15px;
}
td, th {
	padding: 5px;
	font-size: 10px;
}
tr:nth-child(even) {
	background-color: rgb(6, 143, 47);
}
tr:nth-child(odd) {
	background-color: rgb(226, 40, 201);
}
table {
	margin: 0 auto;
	max-width: 700px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}
form{
	width: 100%;
}

body{
	background: rgb(6, 146, 6);
}

@media(min-width: 768px){
	.header__headline {
		font-size: 	28px;
	}	
	#top{
		font-size: 20px;
	}
	header,
	.link-list,
	nav,
	form,
	footer {
		font-size: 20px;
	}
	form h3{
		font-size: 20px;
	}
	td, th {
		font-size: 18px;
	}
}
@media(min-width: 1024px){
	.header__headline {
		font-size: 	34px;
	}	
	#top{
		font-size: 24px;
	}
	header,
	.link-list,
	nav,
	form,
	footer {
		font-size: 22px;
	}
	form h3{
		font-size: 22px;
	}
	td, th {
		font-size: 20px;
	}
	input[type="submit"] {
		font-size: 16px;
		border: 3px solid rgb(240, 14, 228);
		padding: 5px 25px;	
		border-radius: 18px;
	}
	input[type="checkbox"] {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
	input[type="text"]{
		border: 2px solid rgb(241, 20, 149);
		font-size: 22px;
	}
	input[type="email"]{
		border: 2px solid rgb(23, 234, 241);
		font-size: 22px;
	}
	input[type="date"]{
		border: 2px solid rgb(13, 235, 180);
		font-size: 22px;
	}
	select[name="field1"]{
		border: 2px solid rgb(108, 4, 117);
		font-size: 22px;
	}
}
=======
* {
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
.header-wrap {
	background-color: rgb(28, 214, 199);
}
.header__headline {
	font-size: 	16px;
}	
li {
	list-style: none;
}
#top{
	font-size: 15px;
}
img{
	margin: 5px 0;
}
header,
.link-list,
nav,
form,
footer {
	background-color: rgb(27, 233, 216);
	font-size: 16px;
}
form h3{
	font-size: 15px;
}
td, th {
	padding: 5px;
	font-size: 10px;
}
tr:nth-child(even) {
	background-color: rgb(21, 230, 150);
}
tr:nth-child(odd) {
	background-color: rgb(20, 233, 162);
}
table {
	margin: 0 auto;
	max-width: 700px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}
form{
	width: 100%;
}

body{
	background: rgb(8, 228, 63);
}

@media(min-width: 768px){
	.header__headline {
		font-size: 	28px;
	}	
	#top{
		font-size: 20px;
	}
	header,
	.link-list,
	nav,
	form,
	footer {
		font-size: 20px;
	}
	form h3{
		font-size: 20px;
	}
	td, th {
		font-size: 18px;
	}
}
@media(min-width: 1024px){
	.header__headline {
		font-size: 	34px;
	}	
	#top{
		font-size: 24px;
	}
	header,
	.link-list,
	nav,
	form,
	footer {
		font-size: 22px;
	}
	form h3{
		font-size: 22px;
	}
	td, th {
		font-size: 20px;
	}
	input[type="submit"] {
		font-size: 16px;
		border: 3px solid rgb(19, 233, 179);
		padding: 5px 25px;	
		border-radius: 18px;
	}
	input[type="checkbox"] {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
	input[type="text"]{
		border: 2px solid rgb(13, 226, 162);
		font-size: 22px;
	}
	input[type="email"]{
		border: 2px solid rgb(18, 238, 201);
		font-size: 22px;
	}
	input[type="date"]{
		border: 2px solid rgb(14, 226, 233);
		font-size: 22px;
	}
	select[name="field1"]{
		border: 2px solid rgb(10, 231, 183);
		font-size: 22px;
	}
}
